{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<html>
<head>
    <meta charset="UTF-8">
   <title>Eagle Financial</title>

</head>
<body class="bg-primary">
    <div class="container text-center my-auto mt-4" >

         <h1 class="mb-1">Welcome</h1>
         <h3 class="mb-5">
            <em>  Eagle Financial Services, your Midwest Financial Services Partner.</em>
         </h3>
      </div>
 <div class="row">
    <h1 style="padding-left: 15Px">Customer Portfolio</h1>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Portfolio Initial Investments(USD)</th>
            <th>Portfolio Current Investments(USD)</th>
            <th>Grand Total Results(USD)</th>

        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ sum_portfolio_intial_investments}}</td>
                <td>{{sum_portfolio_current_investments }}</td>
                <td>{{grand_total_results}}</td>
            </tr>
        </tbody>
    </table>
</div>
                     <div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Portfolio Initial Investments(INR)</th>
            <th>Portfolio Current Investments(INR)</th>
            <th>Grand Total Results(INR)</th>

        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ sum_portfolio_intial_investments_INR }}</td>
                <td>{{sum_portfolio_current_investments_INR }}</td>
                <td>{{grand_total_results_INR}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <h2 style="padding-left: 15Px">Stocks Information</h2>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Customer</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Initial Stock Price</th>
            <th>Initial Stock Value</th>
            <th>Current Stock Price</th>
            <th>Current Stock Value</th>
            <th>Results</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.customer }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.purchase_price}}</td>
                <td>{{ stock.initial_stock_value}}</td>
                <<td>{{ stock.current_stock_price }}</td>
                <td>{{ stock.current_stock_value}}</td>
                <td>{{ stock.results_by_stock}}</td>>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Total of Initial Stocks(USD)</th>
            <th>Total of Current Stocks(USD)</th>
            <th>Results(USD)</th>

        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ sum_of_initial_stock_value }}</td>
                <td>{{sum_current_stocks_value}}</td>
                <td>{{stock_result}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Total of Initial Stocks(INR)</th>
            <th>Total of Current Stocks(INR)</th>
            <th>Results(INR)</th>

        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ sum_of_initial_stock_value_INR }}</td>
                <td>{{sum_current_stocks_value_INR }}</td>
                <td>{{stock_result_INR}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <h2 style="padding-left: 15Px">Investment Information</h2>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Customer</th>
            <th>Category</th>
            <th>Description</th>
            <th>Acquired Value</th>
            <th>Acquired Date</th>
            <th>Recent Value</th>
            <th>Recent Date</th>
            <th>Results</th>
        </tr>
        </thead>
        <tbody>
        {% for investment in investments %}
            <tr>
                <td>{{ investment.customer }}</td>
                <td>{{ investment.category }}</td>
                <td>{{ investment.description }}</td>
                <td>{{ investment.acquired_value}}</td>
                <td>{{ investment.acquired_date}}</td>
                <td>{{ investment.recent_value}}</td>
                <td>{{ investment.recent_date}}</td>
                <td>{{investment.results_by_investment}}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
                     <div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Total of Initial Investments(USD)</th>
            <th>Total of Current Investments(USD)</th>
            <th>Results(USD)</th>

        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{sum_of_initial_investment_value}}</td>
                <td>{{sum_current_investment_value}}</td>
                <td>{{investment_result}}</td>
            </tr>
        </tbody>
    </table>
</div>
                     <div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Total of Initial Investments(INR)</th>
            <th>Total of Current Investments(INR)</th>
            <th>Results(INR)</th>

        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{sum_of_initial_investment_value_INR}}</td>
                <td>{{sum_current_investment_value_INR}}</td>
                <td>{{investment_result_INR}}</td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
{% endblock %}
