{% extends "portfolio/base.html" %}
{% block title %}Log In{% endblock title %}



{% block content %}
                                       <h1>Reset your password</h1>
                                      <p>We've emailed you instructions for setting your password.</p>
                                      <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="{% url 'login' %}">Have an account? Go to login</a></div>
                                    </div>
                                       {% endblock %}