{% extends "portfolio/base.html" %}
{% block title %}Log In{% endblock title %}



{% block content %}
                                    <div class="card-header">Reset your password</div>
                                    <div class="card-body">
                                     {% if validlink %}
                                        <p>Please enter your new password twice:</p>
                                        <form action="." method="post">
                                          {{ form|crispy}}
                                            <br/>
                                          {% csrf_token %}
                                          <p><input  type="submit" value="Change my password" /></p>
                                        </form>
                                      {% else %}
                                        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                                      {% endif %}

                              </div>
{% endblock %}