
body {
    padding-left: 15px;
}

h1 a {
    color: #FCA205;
    font-family: 'cursive';
}
/*.bg-dark {
  background-color: #1d809f!important;
}*/
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../images/download.jfif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.panel-primary{
    background-color:#17a2b8!important;
    border-color:#17a2b8!important;
}
